<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">


	<!-- 彩色日志，依赖的渲染类 -->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />



	<property name="CONSOLE" value="${CONSOLE_LOG_PATTERN:-%clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${CONSOLE}</pattern>
		</encoder>
	</appender>

	<!-- 级别依次为【从高到低】： ERROR > WARN > INFO > DEBUG > TRACE -->
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>