<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
>



	<!-- Set方式注入 -->
	<bean name="springDao" class="vip.xjdai.ioc.xml.setbean.SpringDaoImpl" />


	<!--配置bean,配置后该类由spring管理 -->
	<bean name="springAction" class="vip.xjdai.ioc.xml.setbean.SpringActionSet">
		<!--(1)依赖注入,配置当前类中相应的属性 -->
        <property name="springDao" ref="springDao"/>
	</bean>


	<!-- 静态注入 -->
	<bean id="dsForRW" class="vip.xjdai.ioc.xml.static_init.AdvancedDatastore" />

	<!--
		创建对象的时候调用 init-method="init" 这个方法
	-->
	<bean id="mongoFileOperationUtil" class="vip.xjdai.ioc.xml.static_init.MongoFileOperationUtil" init-method="init">
		<property name="dsForRW" ref="dsForRW" />
	</bean>




	<!-- 静态工厂方式 -->
	<!--配置bean,配置后该类由spring管理 -->
	<bean name="springAction2" class="vip.xjdai.ioc.xml.static_factory.SpringActionFactory">
		<!--(3)使用静态工厂的方法注入对象,对应下面的配置文件(3) -->
        <property name="staticFactoryDao" ref="staticFactoryDao"/>
	</bean>

	<!--(3)此处获取对象的方式是从工厂类中获取静态方法
		factory-method="getStaticFactoryDaoImpl" 表示是工厂的方法
	-->
	<bean name="staticFactoryDao" class="vip.xjdai.ioc.xml.static_factory.DaoFactory" factory-method="getStaticFactoryDaoImpl" />

</beans>
