package ${package.QueryEntity};


import ${customize.BaseRequest}

import io.swagger.annotations.ApiModelProperty;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import java.util.List;
import javax.validation.constraints.NotNull;
import lombok.EqualsAndHashCode;
#if(${entityLombokModel})
import com.fasterxml.jackson.annotation.JsonInclude;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import lombok.EqualsAndHashCode;
import lombok.Data;
#end

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@EqualsAndHashCode(callSuper = true)
#if(${entityLombokModel})
@Data
#end
@JsonInclude(value = JsonInclude.Include.NON_NULL)
public class ${table.queryEntity}  extends BaseRequest {

    private Long id;
}
