package ${package.Dao};

import ${package.DtoEntity}.${table.dtoEntity};
import ${superServiceClassPackage};

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.dao} : ${superServiceClass}<${table.dtoEntity}>
#else
public interface ${table.dao} extends ${superServiceClass}<${table.dtoEntity}> {

}
#end
