<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xjdai.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.xjdai.domain.UserEntity">
        <id column="tb_user_id" property="userId" />
        <result column="tb_user_name" property="userName" />
        <result column="tb_password" property="password" />
        <result column="tb_phone" property="phone" />
    </resultMap>

</mapper>
