package cn.zingfin.finance.manager;

import lombok.extern.slf4j.Slf4j;
import cn.vihost.farmplatform.core.exception.BizException;
import cn.vihost.farmplatform.core.util.BeanCopyUtil;
import cn.zingfin.finance.repository.entity.${entity};
import cn.zingfin.finance.vo.${entity}Vo;

import javax.annotation.Resource;

import cn.zingfin.finance.service.${entity}Service;
import org.springframework.stereotype.Service;


@Service
@Slf4j
public class ${table.entityName}Manager
{

    @Resource
    public ${entity}Service ${table.entityPath}Service;

    public ${entity}Vo save(${entity}Vo ${table.entityPath}Vo) throws BizException
    {

        ${entity} ${table.entityPath} =BeanCopyUtil.copy(${table.entityPath}Vo, ${entity}. class);
        return BeanCopyUtil.copy(${table.entityPath}Service.save(${table.entityPath}), ${entity}Vo.class);

    }

    public Boolean remove(${entity}Vo ${table.entityPath}Vo) throws BizException
    {

        ${entity} ${table.entityPath} =BeanCopyUtil.copy(${table.entityPath}Vo, ${entity}. class);
        return ${table.entityPath}Service.remove(${table.entityPath}.getId());

    }

    public ${entity}Vo modifyById(${entity}Vo ${table.entityPath}Vo) throws BizException
    {


        ${entity} ${table.entityPath} =BeanCopyUtil.copy(${table.entityPath}Vo, ${entity}. class);
        return BeanCopyUtil.copy(${table.entityPath}Service.modifyById( ${table.entityPath}),  ${entity}Vo.class);

    }

    public ${entity}Vo findById(${entity}Vo ${table.entityPath}Vo) throws BizException
    {



        ${entity} ${table.entityPath} =BeanCopyUtil.copy(${table.entityPath}Vo, ${entity}. class);
        return BeanCopyUtil.copy(${table.entityPath}.findById(${table.entityPath}Vo.getId()),  ${entity}Vo.class);

    }
}