<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vihost.mapper.HospitalMapper">
    <resultMap id="BaseResultMap" type="cn.vihost.entity.Hospital">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="hospital_alias" jdbcType="VARCHAR" property="hospitalAlias"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="grade_id" jdbcType="TINYINT" property="gradeId"/>
        <result column="show_intro" jdbcType="TINYINT" property="showIntro"/>
        <result column="photo" jdbcType="VARCHAR" property="photo"/>
        <result column="precisions" jdbcType="VARCHAR" property="precisions"/>
        <result column="lat" jdbcType="VARCHAR" property="lat"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="support_zhifbubao" jdbcType="TINYINT" property="supportZhifbubao"/>
        <result column="support_weixin" jdbcType="TINYINT" property="supportWeixin"/>
        <result column="hospital_code" jdbcType="VARCHAR" property="hospitalCode"/>
        <result column="region_id" jdbcType="INTEGER" property="regionId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="hot_spot" jdbcType="VARCHAR" property="hotSpot"/>
        <result column="front_ip" jdbcType="VARCHAR" property="frontIp"/>
        <result column="open_test" jdbcType="TINYINT" property="openTest"/>
        <result column="institutions_type" jdbcType="VARCHAR" property="institutionsType"/>
        <result column="institutions_code" jdbcType="VARCHAR" property="institutionsCode"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="admin_name" jdbcType="VARCHAR" property="adminName"/>
        <result column="admin_phone" jdbcType="VARCHAR" property="adminPhone"/>
        <result column="leader_name" jdbcType="VARCHAR" property="leaderName"/>
        <result column="leader_phone" jdbcType="VARCHAR" property="leaderPhone"/>
        <result column="secret_key" jdbcType="VARCHAR" property="secretKey"/>
        <result column="effectived" jdbcType="TINYINT" property="effectived"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="open_maintain" jdbcType="TINYINT" property="openMaintain"/>
        <result column="open_medical" jdbcType="TINYINT" property="openMedical"/>
        <result column="title_logo_url" jdbcType="VARCHAR" property="titleLogoUrl"/>
    </resultMap>
</mapper>