<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xjdai.springbootoauth2.mapper.FeedMapper">
  <resultMap id="BaseResultMap" type="vip.xjdai.springbootcommons.model.dao.Feed">
    <!--@mbg.generated-->
    <!--@Table t_feed-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="fk_diner_id" jdbcType="INTEGER" property="fkDinerId" />
    <result column="praise_amount" jdbcType="INTEGER" property="praiseAmount" />
    <result column="comment_amount" jdbcType="INTEGER" property="commentAmount" />
    <result column="fk_restaurant_id" jdbcType="INTEGER" property="fkRestaurantId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_valid" jdbcType="BOOLEAN" property="isValid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, content, fk_diner_id, praise_amount, comment_amount, fk_restaurant_id, create_date, 
    update_date, is_valid
  </sql>
</mapper>