<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xjdai.springbootoauth2.mapper.FollowMapper">
  <resultMap id="BaseResultMap" type="vip.xjdai.springbootcommons.model.dao.Follow">
    <!--@mbg.generated-->
    <!--@Table t_follow-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="diner_id" jdbcType="INTEGER" property="dinerId" />
    <result column="follow_diner_id" jdbcType="INTEGER" property="followDinerId" />
    <result column="is_valid" jdbcType="BOOLEAN" property="isValid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, diner_id, follow_diner_id, is_valid, create_date, update_date
  </sql>
</mapper>