package ${package.DaoImpl};

import ${package.Dao}.${table.dao};
import ${package.Mapper}.${table.mapperName};
import ${superServiceImplClassPackage};
import ${package.DtoEntity}.${table.dtoEntity};
import org.springframework.stereotype.Service;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.daoImpl} : ${superServiceImplClass}<${table.mapperName}, ${table.dtoEntity}>(), ${table.serviceName} {

        }
#else
public class ${table.daoImpl} extends ${superServiceImplClass}<${table.mapperName}, ${table.dtoEntity}> implements ${table.dao} {

}
#end
